.pokePage {
  width: 100%;
  min-height: 832px;
  min-height: 720px;
  padding: 32px;
  gap: 16px;
  border-radius: 16px;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 2px 4px -2px hsla(0, 0%, 0%, 0.1);

  display: flex;
  flex-direction: row;
}
