/* Favorites Panel Container */

.favoritesPanel {
  /* width: 917px; */
  width: 100%;
  min-height: 768px;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  /* flex-direction: column; */
  /* gap: 32px; */
  background-color: hsla(210, 40%, 98%, 1);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
}

.title {
  display: flex;
  width: 102px;
  height: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.exit {
  width: 45px;
  height: 32px;
  /* top: 16px; */
  /* left: 856px; */
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  border: 1px solid hsla(221, 91%, 60%, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  display: flex;
  color: hsla(221, 91%, 60%, 1);

}

.favoritesList {
  width: 100%;
  /* height: Hug (220px)px; */
  /* top: 80px; */
  /* left: 16px; */
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

/* Favorites Card Pokemon */

.favoriteCard {
  width: 140px;
  height: 220px;
  /* min-width: 140px; */
  padding: 8px;
  gap: 16px;
  border-radius: 16px;
  background-color: hsla(0, 0%, 100%, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeTitle {
  width: 135px;
  height: 52px;
  gap: 4px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeName {
  width: 135px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.pokeId {
  /* width: 34px; */
  height: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.pokeImage {
  width: 100px;
  height: 100px;
}

.pokeType {
  width: 120px;
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pokeType > span {
  height: 20px;
  padding: 2px 8px 2px 8px;
  border-radius: 10px;
  background-color: hsla(304, 45%, 44%, 1); /* Pendiente hacerlo variable */
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: hsla(0, 0%, 100%, 1);
}
